<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>02040542-F997-465B-B9C5-CEA38A8EE898</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0F6F933-E16E-4CA5-83AE-922BE81CA13F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D460AD2-AAF7-4ACA-9F14-20FA2DFDC2AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F91B666-3136-4C89-8815-31ED0A4570AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ECD4D89-90F1-42E2-9A27-D60A6B92E05C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DBC8B99-1C97-40D4-BC56-26D491A7BA03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ECD4D89-90F1-42E2-9A27-D60A6B92E05C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DCB303E-E8F0-4EA7-BDC8-114740E80240</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>243B4C94-AA9F-4150-843C-CE6DFF4269C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>304A56A5-3448-4A18-BAB6-33A0ACFAAAF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F91B666-3136-4C89-8815-31ED0A4570AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E93A6CF-A620-41F6-B6EB-78348E8725ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51B38CA4-C0BA-4F17-9E7D-45CBCE7C1111</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D460AD2-AAF7-4ACA-9F14-20FA2DFDC2AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>524B20E1-A2A3-42DB-9A14-2B2311556FFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>653E6299-DAC7-4724-ADDD-9DC40606DA44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57B1154B-CFD4-43BF-A368-816497818584</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>653E6299-DAC7-4724-ADDD-9DC40606DA44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>734F6EB4-1250-47E9-B0F4-1ABC28D7520A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57B1154B-CFD4-43BF-A368-816497818584</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F73C412-66F3-4139-9600-4726FBE5FC28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E93A6CF-A620-41F6-B6EB-78348E8725ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>814EA4BF-E48F-431D-817E-ED88C82EABFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C6F1EF9-CC9B-46CB-ADE5-D89706F0486C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>814EA4BF-E48F-431D-817E-ED88C82EABFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E851C85-FFBB-4CA3-BCCD-F25E7A87E94E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D45146C0-ADB0-47F7-92FF-A979F52E332E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5EAC3ED-A83C-4876-8022-C73C3A932165</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD7965A6-BF4E-4373-B469-7ECA1577E98D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0F6F933-E16E-4CA5-83AE-922BE81CA13F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD7965A6-BF4E-4373-B469-7ECA1577E98D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DBC8B99-1C97-40D4-BC56-26D491A7BA03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D45146C0-ADB0-47F7-92FF-A979F52E332E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ECD4D89-90F1-42E2-9A27-D60A6B92E05C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DCB303E-E8F0-4EA7-BDC8-114740E80240</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fredrik Rødland</string>
	<key>description</key>
	<string>Misc jira workflows for FINN.no</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JIRA WF</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jira_search</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8E851C85-FFBB-4CA3-BCCD-F25E7A87E94E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>task</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: TASK</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7F73C412-66F3-4139-9600-4726FBE5FC28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>243B4C94-AA9F-4150-843C-CE6DFF4269C2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:JIRA_URL}/issues/?jql=project%3DSEARCH%20AND%20labels%20%3D%20search%20and%20%28text%20%7E%20%22{query}%22%29</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D45146C0-ADB0-47F7-92FF-A979F52E332E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>JIRA_ISSUE_TYPE</key>
					<string>Task</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4E93A6CF-A620-41F6-B6EB-78348E8725ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(.*)
.*
.*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1 </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>1DCB303E-E8F0-4EA7-BDC8-114740E80240</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jira_num</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Go to jira number</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>304A56A5-3448-4A18-BAB6-33A0ACFAAAF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bug</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: BUG</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>524B20E1-A2A3-42DB-9A14-2B2311556FFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./new_task.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Jira-{var:JIRA_ISSUE_TYPE} {var:JIRA_ISSUE} created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>finn-jira.atlassian.net/browse/{var:JIRA_PROJECT}-{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0F91B666-3136-4C89-8815-31ED0A4570AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>JIRA_ISSUE_TYPE</key>
					<string>Bug</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>653E6299-DAC7-4724-ADDD-9DC40606DA44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2ECD4D89-90F1-42E2-9A27-D60A6B92E05C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira BOARD: SEARCH</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A5EAC3ED-A83C-4876-8022-C73C3A932165</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: MP</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>734F6EB4-1250-47E9-B0F4-1ABC28D7520A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>rapidview</key>
					<string>227</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD7965A6-BF4E-4373-B469-7ECA1577E98D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:JIRA_URL}/secure/RapidBoard.jspa?rapidView={var:rapidview}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1DBC8B99-1C97-40D4-BC56-26D491A7BA03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>JIRA_ISSUE_TYPE</key>
					<string>Market problem</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>57B1154B-CFD4-43BF-A368-816497818584</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>impr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: IMPROVEMENT</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>51B38CA4-C0BA-4F17-9E7D-45CBCE7C1111</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>JIRA_ISSUE_TYPE</key>
					<string>Improvement</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0D460AD2-AAF7-4ACA-9F14-20FA2DFDC2AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: TP</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8C6F1EF9-CC9B-46CB-ADE5-D89706F0486C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>JIRA_ISSUE_TYPE</key>
					<string>Technology problem</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>814EA4BF-E48F-431D-817E-ED88C82EABFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ambition</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: Ambition</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>02040542-F997-465B-B9C5-CEA38A8EE898</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>JIRA_ISSUE_TYPE</key>
					<string>Ambition</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B0F6F933-E16E-4CA5-83AE-922BE81CA13F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Jira-scripts originally fetched from:

https://gist.github.com/JaviSoto/2599214

See doc on: https://github.com/fmmr/alfred_jira_workflow

© Fredrik Rødland</string>
	<key>uidata</key>
	<dict>
		<key>02040542-F997-465B-B9C5-CEA38A8EE898</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>0D460AD2-AAF7-4ACA-9F14-20FA2DFDC2AA</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>0F91B666-3136-4C89-8815-31ED0A4570AC</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>1DBC8B99-1C97-40D4-BC56-26D491A7BA03</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>1DCB303E-E8F0-4EA7-BDC8-114740E80240</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>243B4C94-AA9F-4150-843C-CE6DFF4269C2</key>
		<dict>
			<key>xpos</key>
			<integer>1270</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>2ECD4D89-90F1-42E2-9A27-D60A6B92E05C</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>304A56A5-3448-4A18-BAB6-33A0ACFAAAF9</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>4E93A6CF-A620-41F6-B6EB-78348E8725ED</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>51B38CA4-C0BA-4F17-9E7D-45CBCE7C1111</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>524B20E1-A2A3-42DB-9A14-2B2311556FFD</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>57B1154B-CFD4-43BF-A368-816497818584</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>653E6299-DAC7-4724-ADDD-9DC40606DA44</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>734F6EB4-1250-47E9-B0F4-1ABC28D7520A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>7F73C412-66F3-4139-9600-4726FBE5FC28</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>814EA4BF-E48F-431D-817E-ED88C82EABFE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>8C6F1EF9-CC9B-46CB-ADE5-D89706F0486C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>8E851C85-FFBB-4CA3-BCCD-F25E7A87E94E</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A5EAC3ED-A83C-4876-8022-C73C3A932165</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>A70A4E1E-712E-4575-967A-0AA64960904D</key>
		<dict>
			<key>xpos</key>
			<integer>1270</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>B0F6F933-E16E-4CA5-83AE-922BE81CA13F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>CD7965A6-BF4E-4373-B469-7ECA1577E98D</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>D45146C0-ADB0-47F7-92FF-A979F52E332E</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<dict>
			<key>xpos</key>
			<integer>1035</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>JIRA_PROJECT</key>
		<string>SEARCH</string>
		<key>JIRA_PW</key>
		<string></string>
		<key>JIRA_URL</key>
		<string>finn-jira.atlassian.net</string>
		<key>JIRA_USER</key>
		<string></string>
		<key>JQ</key>
		<string>/opt/homebrew/bin/jq</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>JIRA_PW</string>
		<string>JIRA_USER</string>
	</array>
	<key>version</key>
	<string>0.6</string>
	<key>webaddress</key>
	<string>http://rodland.no</string>
</dict>
</plist>
