<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0D460AD2-AAF7-4ACA-9F14-20FA2DFDC2AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F91B666-3136-4C89-8815-31ED0A4570AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ECD4D89-90F1-42E2-9A27-D60A6B92E05C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E93A6CF-A620-41F6-B6EB-78348E8725ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>174ED1F2-228C-4F4D-B93D-213A6E6262EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FED79AF-3D40-4F5F-A83A-CDF4EBCB66D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DBC8B99-1C97-40D4-BC56-26D491A7BA03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ECD4D89-90F1-42E2-9A27-D60A6B92E05C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>304A56A5-3448-4A18-BAB6-33A0ACFAAAF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F91B666-3136-4C89-8815-31ED0A4570AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E93A6CF-A620-41F6-B6EB-78348E8725ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51B38CA4-C0BA-4F17-9E7D-45CBCE7C1111</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D460AD2-AAF7-4ACA-9F14-20FA2DFDC2AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>524B20E1-A2A3-42DB-9A14-2B2311556FFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>653E6299-DAC7-4724-ADDD-9DC40606DA44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57B1154B-CFD4-43BF-A368-816497818584</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>653E6299-DAC7-4724-ADDD-9DC40606DA44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>734F6EB4-1250-47E9-B0F4-1ABC28D7520A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57B1154B-CFD4-43BF-A368-816497818584</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78940D95-605B-49E1-8471-C8738B5D7022</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D460AD2-AAF7-4ACA-9F14-20FA2DFDC2AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F73C412-66F3-4139-9600-4726FBE5FC28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E93A6CF-A620-41F6-B6EB-78348E8725ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FED79AF-3D40-4F5F-A83A-CDF4EBCB66D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DBC8B99-1C97-40D4-BC56-26D491A7BA03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E851C85-FFBB-4CA3-BCCD-F25E7A87E94E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D45146C0-ADB0-47F7-92FF-A979F52E332E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>923DB6D1-A984-4EB9-99BF-2C6F05334B9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26EB2602-2617-4B89-8427-6F01756B273C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DDF92BA-52DB-4B20-919B-442D29401A35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>653E6299-DAC7-4724-ADDD-9DC40606DA44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADEE587D-679A-4700-971D-9264BA1566C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57B1154B-CFD4-43BF-A368-816497818584</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD7965A6-BF4E-4373-B469-7ECA1577E98D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DBC8B99-1C97-40D4-BC56-26D491A7BA03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D08BCE8D-1D5F-42FE-88ED-85281C14E371</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>923DB6D1-A984-4EB9-99BF-2C6F05334B9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D45146C0-ADB0-47F7-92FF-A979F52E332E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ECD4D89-90F1-42E2-9A27-D60A6B92E05C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D818B9D0-9BC2-4221-93E3-8942F11A69DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD7965A6-BF4E-4373-B469-7ECA1577E98D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBD10687-1C14-4412-BD7D-DBA48DE97FC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>923DB6D1-A984-4EB9-99BF-2C6F05334B9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fredrik Rødland</string>
	<key>description</key>
	<string>Misc jira workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JIRA WF</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jira_new</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: TASK</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>15299C7A-CDEA-4359-8898-446F2892DB7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jira_search</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: Søk</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8E851C85-FFBB-4CA3-BCCD-F25E7A87E94E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:JIRA_URL}/issues/?jql=project%3DADOUT%20AND%20labels%20%3D%20search%20and%20%28text%20%7E%20%22{query}%22%29</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D45146C0-ADB0-47F7-92FF-A979F52E332E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>task</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: TASK</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7F73C412-66F3-4139-9600-4726FBE5FC28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jira_num</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: Tasknumber</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>304A56A5-3448-4A18-BAB6-33A0ACFAAAF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:JIRA_URL}/browse/{var:JIRA_PROJECT}-{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0F91B666-3136-4C89-8815-31ED0A4570AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>JIRA_ISSUE_TYPE</key>
					<string>Task</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4E93A6CF-A620-41F6-B6EB-78348E8725ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2ECD4D89-90F1-42E2-9A27-D60A6B92E05C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jira_bug</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: BUG</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9DDF92BA-52DB-4B20-919B-442D29401A35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Jira-{var:JIRA_ISSUE_TYPE} {var:JIRA_ISSUE} created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>#echo "username $JIRA_USER"
python ./newJiraTask.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>JIRA_ISSUE_TYPE</key>
					<string>Bug</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>653E6299-DAC7-4724-ADDD-9DC40606DA44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jira_backlog</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira BOARD: BACKLOG</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>174ED1F2-228C-4F4D-B93D-213A6E6262EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:JIRA_URL}/secure/RapidBoard.jspa?rapidView={var:rapidview}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1DBC8B99-1C97-40D4-BC56-26D491A7BA03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>rapidview</key>
					<string>232</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7FED79AF-3D40-4F5F-A83A-CDF4EBCB66D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bug</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: BUG</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>524B20E1-A2A3-42DB-9A14-2B2311556FFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira BOARD: SEARCH</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D818B9D0-9BC2-4221-93E3-8942F11A69DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>rapidview</key>
					<string>227</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD7965A6-BF4E-4373-B469-7ECA1577E98D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jira_mp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: MP</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ADEE587D-679A-4700-971D-9264BA1566C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jira_sprint</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: Sprintnummer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D08BCE8D-1D5F-42FE-88ED-85281C14E371</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: MP</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>734F6EB4-1250-47E9-B0F4-1ABC28D7520A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Jira Sprint</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>26EB2602-2617-4B89-8427-6F01756B273C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>SP=`./get_sprint.sh`

echo $SP | pbcopy

echo "Copied to clipboard: $SP"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>923DB6D1-A984-4EB9-99BF-2C6F05334B9C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>JIRA_ISSUE_TYPE</key>
					<string>Market problem</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>57B1154B-CFD4-43BF-A368-816497818584</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sprint</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: Sprintnummer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DBD10687-1C14-4412-BD7D-DBA48DE97FC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jira_impr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: IMPROVEMENT</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>78940D95-605B-49E1-8471-C8738B5D7022</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>JIRA_ISSUE_TYPE</key>
					<string>Improvement</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0D460AD2-AAF7-4ACA-9F14-20FA2DFDC2AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>impr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira: IMPROVEMENT</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>51B38CA4-C0BA-4F17-9E7D-45CBCE7C1111</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Jira-scripts originally fetched from:

https://gist.github.com/JaviSoto/2599214

workflow &amp; sprint-shell-script &amp; shell-script &amp; python-script.

much to be improved here…

To get it up &amp; running:
1. Enter JIRA credentials in workflow configure screen

keyword:
TODO: document

©: Fredrik Rødland</string>
	<key>uidata</key>
	<dict>
		<key>0D460AD2-AAF7-4ACA-9F14-20FA2DFDC2AA</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>0F91B666-3136-4C89-8815-31ED0A4570AC</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>174ED1F2-228C-4F4D-B93D-213A6E6262EB</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>1DBC8B99-1C97-40D4-BC56-26D491A7BA03</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>26EB2602-2617-4B89-8427-6F01756B273C</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>2ECD4D89-90F1-42E2-9A27-D60A6B92E05C</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>304A56A5-3448-4A18-BAB6-33A0ACFAAAF9</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>4E93A6CF-A620-41F6-B6EB-78348E8725ED</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>51B38CA4-C0BA-4F17-9E7D-45CBCE7C1111</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>524B20E1-A2A3-42DB-9A14-2B2311556FFD</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>57B1154B-CFD4-43BF-A368-816497818584</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>653E6299-DAC7-4724-ADDD-9DC40606DA44</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>734F6EB4-1250-47E9-B0F4-1ABC28D7520A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>78940D95-605B-49E1-8471-C8738B5D7022</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>7F73C412-66F3-4139-9600-4726FBE5FC28</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>7FED79AF-3D40-4F5F-A83A-CDF4EBCB66D1</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>8E851C85-FFBB-4CA3-BCCD-F25E7A87E94E</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>923DB6D1-A984-4EB9-99BF-2C6F05334B9C</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>9DDF92BA-52DB-4B20-919B-442D29401A35</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>A70A4E1E-712E-4575-967A-0AA64960904D</key>
		<dict>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>ADEE587D-679A-4700-971D-9264BA1566C2</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>CD7965A6-BF4E-4373-B469-7ECA1577E98D</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>D08BCE8D-1D5F-42FE-88ED-85281C14E371</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>D45146C0-ADB0-47F7-92FF-A979F52E332E</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D818B9D0-9BC2-4221-93E3-8942F11A69DC</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>DBD10687-1C14-4412-BD7D-DBA48DE97FC9</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<dict>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>JIRA_PROJECT</key>
		<string>ADOUT</string>
		<key>JIRA_PW</key>
		<string></string>
		<key>JIRA_URL</key>
		<string>https://jira.finn.no</string>
		<key>JIRA_USER</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>JIRA_PROJECT</string>
		<string>JIRA_PW</string>
		<string>JIRA_USER</string>
	</array>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>http://rodland.no</string>
</dict>
</plist>
